body {
  background:  #F5D6C6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.red {
  background: #FA7A35;
  margin-right: 5px;
}
.cyan {
  background: #56C6A9;
  margin-right: 5px;
}
.violet {
  background:#006B54;
  margin-right: 5px;
}
.orange {
  background: #C62168;
  margin-right: 5px;
}
.pink {
  background:#F96714;
}

.center {
  min-width: 400px;
  top: 50px;
  position: relative;
  /*height: 400px;*/
  background: #9E1030;
  border-radius: 100%;
  transition: 0.2s ease-in-out all;
}

.center {
    width:200px;
    height: 400px;
    /*background: red;*/
    -webkit-animation: fadeinout 4s linear forwards infinite;
    animation: fadeinout 4s linear forwards infinite;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}



.color-hover {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.text {
  padding: 10px;
  color: #ffffff;
}
.color {
  width: 120px;
  height: 30px;
  border-radius: 5%;
  margin-bottom: 30px;
}
.color:hover {
  cursor: pointer;
}
.color:last-child {
  margin-bottom: 0;
}
